<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
</head>

<body
    style="width: 100%; margin: 0; padding: 0; background-color: #52228d;  text-align: center; font-family: Arial, Helvetica, sans-serif;">

    <div style="margin: auto;  height: auto; width: 70%; font-size: 20px; text-align: center; line-height: 35px; ">

        <div style="width: 90%; text-align: center; margin-top: 20px;">
            <img src="https://collegecentralbucket.s3.amazonaws.com/Logo-transparent.png"
                style="width: 100%; max-width: max-content;" /> <br />
        </div>
        <div style="text-align: left; "> 

            Dear {{fullName}}, <br/>

            Here's your verification code: <div>{{code}}</div> <br/>


            Best regards, <br/>
            The CollegeCentral Team
        </div>
    </div>

</body>

</html>