<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="width: 100%; margin: 0; padding: 0; background-color: #1b2545; color: white; text-align: center; font-family: Arial, Helvetica, sans-serif;">

    <div style="margin: auto; height: auto; width: 70%; font-size: 20px; text-align: center; line-height: 35px; ">

        <div style="width: 90%; text-align: center; margin-top: 20px;">
            <img src="https://collegecentralbucket.s3.amazonaws.com/Logo-transparent.png"
                style="width: 100%; max-width: max-content;" /> <br />
        </div>
        <div style="text-align: left;"> 

            Dear [User], <br/>

            Welcome aboard! We're thrilled to have you as a new member of CollegeCentral. Your
            registration is the first step towards a fantastic experience, and we're here to make it enjoyable for you.
            <br/> <br/>
            Here are a few things to get you started:
            <br/>
            <ul>
                <li>
                    Explore Your Dashboard: Log in to your account and take a tour of your personalized dashboard. Discover
                    features tailored just for you.
                </li>
           
                <li>
                    Complete Your Profile: Let the community know a bit more about you. Add a profile picture, update your
                    preferences, and make your presence unique.
                </li>
                
                <li>
                    Connect with Others: Engage with fellow coaches and players! Find a college that matches your
                    interests. Your academic and athletic careers matter, and we are here to help you.
                </li>
    
                <li>
                    Stay Informed: Keep an eye on our updates, announcements, and newsletters. We'll share exciting news, tips,
                    and exclusive content with you.
                </li>                
                
           
            </ul>  
           

            If you have any questions or need assistance, our support team is here to help. Feel free to reach out to
            [Support Email/Contact] at any time.
            <br/>

            Once again, welcome to CollegeCentral! We look forward to making your experience remarkable.
            <br/>
            <br/>

            Best regards, <br/>
            The CollegeCentral Team
        </div>
    </div>

</body>

</html>